<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <div>
    <span *ngIf="apiCall$ | async as res; else loading">
      back-end says: "{{ res }}"
    </span>
    <ng-template #loading>
      Loading ...
    </ng-template>
  </div>
</div>
